backend/src/main/resources/data/admins.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="admins">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="admin" type="Admin" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="Admin">
        <xs:all>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="mail" type="xs:string"/>
            <xs:element name="nom" type="xs:string"/>
            <xs:element name="prenom" type="xs:string"/>
            <xs:element name="telephone" type="xs:int"/>
            <xs:element name="password" type="xs:string"/>
            <xs:element name="role" type="xs:string"/>
        </xs:all>
    </xs:complexType>

</xs:schema>