backend/src/main/resources/data/pointsCollecte.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="pointsCollecte">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pointCollecte" type="PointCollecte" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="TypeDechet">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="nom" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PointCollecte">
        <xs:all>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="localisation" type="xs:string"/>
            <xs:element name="niveauRemplissage" type="xs:float"/>
            <xs:element name="etatConteneur" type="xs:string"/>
            <xs:element name="DateDerniereCollecte" type="xs:dateTime"/>
            <xs:element name="typeDechet" type="TypeDechet"/>
            <xs:element name="latitude" type="xs:double" minOccurs="0"/>
            <xs:element name="longitude" type="xs:double" minOccurs="0"/>
            <xs:element name="capacite" type="xs:int" minOccurs="0"/>
            <xs:element name="modele" type="xs:string" minOccurs="0"/>
        </xs:all>
    </xs:complexType>

</xs:schema>