backend/src/main/resources/data/pointsCollecte.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="PointsCollecte">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="PointCollecte" type="PointCollecte" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="TypeDechet">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="nom" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PointCollecte">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="localisation" type="xs:string"/>
            <xs:element name="latitude" type="xs:float"/>
            <xs:element name="longitude" type="xs:float"/>
            <xs:element name="typeDechet" type="TypeDechet"/>
            <xs:element name="capaciteMaximale" type="xs:float"/>
            <xs:element name="niveauRemplissage" type="xs:float"/>
            <xs:element name="etatConteneur" type="xs:string"/>
            <xs:element name="dateDerniereCollecte" type="xs:date"/>
            <xs:element name="capteurId" type="xs:int" minOccurs="0"/> 
        </xs:sequence>
    </xs:complexType>

</xs:schema>