backend/src/main/resources/data/signalements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="signalements">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="signalement" type="SignalementType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="SignalementType">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="type" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
            
            <xs:element name="pointCollecteId" type="xs:int" minOccurs="0"/>
            <xs:element name="employeId" type="xs:int" minOccurs="0"/>
            
            <xs:element name="dateSignalement" type="xs:dateTime"/>
            <xs:element name="statut" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>