backend/src/main/resources/data/vehicules.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Vehicules">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Vehicule" type="Vehicule" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="Utilisateur">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="nom" type="xs:string"/>
            <xs:element name="prenom" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Vehicule">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="immatriculation" type="xs:string"/>
            <xs:element name="capacite" type="xs:float"/>
            <xs:element name="typeVehicule" type="xs:string"/>
            <xs:element name="disponibilite" type="xs:boolean"/>
            <xs:element name="etat" type="xs:string"/> <xs:element name="conducteur" type="Utilisateur" minOccurs="0"/> 
        </xs:sequence>
    </xs:complexType>

</xs:schema>