backend/src/main/resources/data/vehicules.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="vehicules">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="vehicule" type="Vehicule" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="Utilisateur">
        <xs:all>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="nom" type="xs:string"/>
            <xs:element name="prenom" type="xs:string"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="Vehicule">
        <xs:all>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="typeVehicule" type="xs:string" minOccurs="0"/>
            <xs:element name="capacite" type="xs:float" minOccurs="0"/>
            <xs:element name="disponibilite" type="xs:boolean" minOccurs="0"/>
            <xs:element name="immatriculation" type="xs:string" minOccurs="0"/>
            <xs:element name="statut" type="xs:string" minOccurs="0"/>
            <xs:element name="etat" type="xs:string" minOccurs="0"/>
            <xs:element name="conducteur" type="Utilisateur" minOccurs="0"/>
        </xs:all>
    </xs:complexType>

</xs:schema>